footer{
    grid-column: span 100;
    display: grid;
    grid-template-columns: 100%;
}

footer > article{
    background-color: gray;
}

footer > article > *{
    color: white;
    padding-left: 1rem;
}

footer > article > h1{
    font-size: 20px;
}

footer > article > ul{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > article > ul{
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer > article > ul > li{
    position: relative;
    padding-left: 1.6rem;
    font-size: 10px;
}

footer > article ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1.1rem;
    height: 1.1rem;
    transform: translateY(-50%);
    padding: 0.01rem;
    border: white solid 2px;
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
}

footer > article > ul > li > a{
    text-decoration: none;
    color: white;
}

.final_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.final_footer p, .final_footer > div a{
    color:gray;
    font-size: 6px;
}

.final_footer > *{
    place-self: center center;
    padding-left: 1rem;
    padding-right: 1rem;
}


.final_footer > div{
    display: flex;
    gap: 10px;
}

.final_footer > div a{
    text-decoration: none;
    font-weight: bold;
}

#telf::before{
    background-image: url("../styles/icon/llamar.png");
}

#correo::before{
    background-image: url("../styles/icon/correo-electronico.png");
}

#perfil_facebook::before{
    background-image: url("../styles/icon/facebook.png");
}

#mision::before{
    background-image: url("../styles/icon/mision.png");
}

#vision::before{
    background-image: url("../styles/icon/objetivo.png");
}

#tipos_campana::before{
    background-image: url("../styles/icon/boton-de-informacion.png");
}

@media (min-width: 780px) {
    footer{
        grid-column: span 100;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        z-index: 999999;
    }

    .final_footer p, .final_footer > div a{
        color:gray;
        font-size: 11px;
    }

    .final_footer {
        grid-column: span 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}