body{
    margin:0;
    padding:0;
}

    .background-helper{
        padding: 0rem 3rem;
        background-color: #c8d0d8;
    }

    .register_campaign-page_body{
        width: 100%;
        background-color: white;
        padding: 1.5rem 2rem;
    }

    .main_form{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;  grid-auto-flow: row dense;
    }

    .first_column, .second_column, .third_column{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .first_column > div, .second_column > div, .third_column > div{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }


    .third_column > div > div{
        display: grid;
        grid-template-columns: 30% 65%;
        column-gap: 5%;   
    }

    #other_requirements{
        display: grid;
        max-height: 300px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem;
        column-gap: 1rem;

        border-radius: 15px;
        border: #c8d0d8 solid 1px;

        padding: 0rem 1rem;
        padding-bottom: 1rem;

        overflow: scroll;
    }

    #other_requirements > header {
        grid-column: span 3;
    }

    #other_requirements > header > *{
        font-size: 1rem;
    }

    #other_requirements > div {
        background-color: #d3d3d3;
        display: flex;
        gap: 0rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 15px;
    }

    #other_requirements > div > *{
        margin:0;
        padding: 0.2rem;
    }

    #other_requirements > div > .specialist_button{
        background-color: rgb(157, 157, 157);
        padding: 1rem 3rem;
        border-radius: 15px;
        margin: 0;
        margin-bottom: 1rem;
    }


@media (min-width: 780px){
    .main_form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;  grid-auto-flow: row dense;
    }

    #other_requirements{
        grid-column: span 2;
        grid-template-columns: repeat(6, 1fr);
    }

    #other_requirements > header {
        grid-column: span 6;
    }

}

@media(min-width: 1100px){
    .main_form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2.5rem;  grid-auto-flow: row dense;
    }

    #other_requirements{
        grid-column: span 3;
        grid-template-columns: repeat(6, 1fr);
    }

    #other_requirements > header {
        grid-column: span 6;
    }
}